
@{
    ViewBag.Title = "About";
}


<!-- About -->
<div class="container-fluid " id="abt">
    <div class="container py-5">
        <div class="row gx-0 mb-3 mb-lg-0">
            <div class="col-lg-6 my-lg-5 py-lg-5">
                <div class="about-start bg-primary p-5">
                    <h1 class="display-5 mb-4">Welcome To ABCD Mall</h1>
                    <p>The ABCD mails situated in sub-urban place of Mumbai and was opened by ABCD Developers Pvt Ltd. The 250,000 sq ft (23,000 m2) mall with a frontage of 700 ft (210 m). It was designed by Cooper and their partners. R Mall is a 4-storeyed air-conditioned mall covering an area of approximately 80,000 sq ft (7,000 m2) on each floor. The site includes a 7 level car parking facility.</p>
                    
                </div>
            </div>
            <div class="col-lg-6" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="~/img/about-1.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
        <div class="row gx-0">
            <div class="col-lg-6" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="~/img/about-2.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 my-lg-5 py-lg-5">
                <div class="about-end bg-primary p-5">
                    <h1 class="display-5 mb-4">Why Choose Us?</h1>
                    <p>If you do not want to miss the upcoming smart shopping solution term which can generate you profit 2x more than conventional shop revenue, So join us to cash this trend. </p>
                </div>
            </div>
        </div>
    </div>
</div>
