
@{
    ViewBag.Title = "Gallery";
}

<h2>Gallery</h2>

<div class="container">


    <div class="row">
        <div class="col-sm-12 p-3">
            <img src="~/gallery/banner-24.jpg" class="img-fluid" alt="...">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 p-3">
            <img src="~/gallery/Banner.jpg" class="img-fluid" alt="...">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 p-3">
            <img src="~/gallery/cinema.jpg" class="img-fluid" alt="...">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 p-3">
            <img src="~/gallery/food 1.jpg" class="img-fluid" alt="...">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 p-3">
            <img src="~/gallery/game zone.jpg" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 p-3">
            <img src="~/gallery/hotel 1.jpg" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 p-3">
            <img src="~/gallery/hotel.jpg" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 p-3">
            <img src="~/gallery/inner 2.jpg" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 p-3">
            <img src="~/gallery/inner view.jpg" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 p-3">
            <img src="~/gallery/inner.jpg" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 p-3">
            <img src="~/gallery/shoop 1.jpg" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 p-3">
            <img src="~/gallery/Shops.jpg" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 p-3">
            <img src="~/gallery/shopping-mall-.jpg" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 p-3">
            <img src="~/gallery/whole view.jpg" class="img-fluid" alt="...">
        </div>
    </div>

</div>



